doctype html
html(lang="ru")
  head
    title ABBYY SmartCat Вебинары
    link(rel="stylesheet" href="/main.css")
    link(rel="stylesheet" href="css/bootstrap.min.css")
    script(src='js/jquery-2.1.4.min.js')

  body
    != yield
    script(src='js/bootstrap.min.js')
    script(src='js/slide.js')