header
	div.container
		div.row
			div.col-md-3
				a(href='/')
					img.logo(src='img/logo.png')
			div.col-md-12
				h1 Оставайтесь в курсе
				h2 Всех мероприятий для переводчиков
				form.header-form
					div.form-group
						input(type='email' class='form-control' id='inputemail1' placeholder='name@email' required="required")
						button(type='submit' class='btn btn-default') Подписаться
						div.nofloat
div.container
	div.row
		div.col-md-12.ah
			p.header Recent trends in the fields of translation tec
			div.col-md-4
				img(src='img/ico1.png')
				p 10 лет
				p успешной работы
			div.col-md-4
				img(src='img/ico2.png')
				p более 120 000
				p успешных проектов
			div.col-md-4
				img(src='img/ico3.png')
				p 2500 корпоративных
				p клиентов по всему миру
		div.col-md-12.sem
			h2 Делимся своим опытом! 
			h2 Рассказываем реальные кейсы
div.gbg
	div.container
		div.row
			div.col-md-3
				h3 <span>17</span> апреля
				p начало <span>17:00</span>
			div.col-md-6
				p#b1.link Recent trends in the field of translation  technology
				p.link-bot осталось <span>5</span> мест
			div.col-md-3.reg
				button.regiser Записаться
div#slide1.slideh
	div.container
		div.row
			div.col-md-9
				p.inside One of the big problems for long distance space exploration is how to feed astronauts who are away from earth for extended periods of time. So now a project is being launched which will see thousands of schoolchildren experiment on seeds that have spent six months on the International Space Station.
			div.col-md-3
				p <span>Спикер:</span> Levsky Sofia
				img(src='img/placeholder.png')
			div.col-md-12
				img#bc1(src='img/up.png')
div.gbg
	div.container
		div.row
			div.col-md-3
				h3 <span>17</span> апреля
				p начало <span>17:00</span>
			div.col-md-6
				p#b2.link Recent trends in the field of translation  technology
				p.link-bot осталось <span>5</span> мест
			div.col-md-3.reg
				button.regiser Записаться
div#slide2.slideh
	div.container
		div.row
			div.col-md-9
				p.inside One of the big problems for long distance space exploration is how to feed astronauts who are away from earth for extended periods of time. So now a project is being launched which will see thousands of schoolchildren experiment on seeds that have spent six months on the International Space Station.
			div.col-md-3
				p <span>Спикер:</span> Levsky Sofia
				img(src='img/placeholder.png')
			div.col-md-12
				img#bc2(src='img/up.png')
div.gbg
	div.container
		div.row
			div.col-md-3
				h3 <span>17</span> апреля
				p начало <span>17:00</span>
			div.col-md-6
				p#b3.link Recent trends in the field of translation  technology
				p.link-bot осталось <span>5</span> мест
			div.col-md-3.reg
				button.regiser Записаться
div#slide3.slideh
	div.container
		div.row
			div.col-md-9
				p.inside One of the big problems for long distance space exploration is how to feed astronauts who are away from earth for extended periods of time. So now a project is being launched which will see thousands of schoolchildren experiment on seeds that have spent six months on the International Space Station.
			div.col-md-3
				p <span>Спикер:</span> Levsky Sofia
				img(src='img/placeholder.png')
			div.col-md-12
				img#bc3(src='img/up.png')
div#add
	div.gbg
		div.container
			div.row
				div.col-md-3
					h3 <span>17</span> апреля
					p начало <span>17:00</span>
				div.col-md-6
					p#b4.link Recent trends in the field of translation  technology
					p.link-bot осталось <span>5</span> мест
				div.col-md-3.reg
					button.regiser Записаться
	div#slide4.slideh
		div.container
			div.row
				div.col-md-9
					p.inside One of the big problems for long distance space exploration is how to feed astronauts who are away from earth for extended periods of time. So now a project is being launched which will see thousands of schoolchildren experiment on seeds that have spent six months on the International Space Station.
				div.col-md-3
					p <span>Спикер:</span> Levsky Sofia
					img(src='img/placeholder.png')
				div.col-md-12
					img#bc4(src='img/up.png')
	div.gbg
		div.container
			div.row
				div.col-md-3
					h3 <span>17</span> апреля
					p начало <span>17:00</span>
				div.col-md-6
					p#b5.link Recent trends in the field of translation  technology
					p.link-bot осталось <span>5</span> мест
				div.col-md-3.reg
					button.regiser Записаться
	div#slide5.slideh
		div.container
			div.row
				div.col-md-9
					p.inside One of the big problems for long distance space exploration is how to feed astronauts who are away from earth for extended periods of time. So now a project is being launched which will see thousands of schoolchildren experiment on seeds that have spent six months on the International Space Station.
				div.col-md-3
					p <span>Спикер:</span> Levsky Sofia
					img(src='img/placeholder.png')
				div.col-md-12
					img#bc5(src='img/up.png')
	div.gbg
		div.container
			div.row
				div.col-md-3
					h3 <span>17</span> апреля
					p начало <span>17:00</span>
				div.col-md-6
					p#b6.link Recent trends in the field of translation  technology
					p.link-bot осталось <span>5</span> мест
				div.col-md-3.reg
					button.regiser Записаться
	div#slide6.slideh
		div.container
			div.row
				div.col-md-9
					p.inside One of the big problems for long distance space exploration is how to feed astronauts who are away from earth for extended periods of time. So now a project is being launched which will see thousands of schoolchildren experiment on seeds that have spent six months on the International Space Station.
				div.col-md-3
					p <span>Спикер:</span> Levsky Sofia
					img(src='img/placeholder.png')
				div.col-md-12
					img#bc6(src='img/up.png')
div.allweb
	div.container
		div.row
			div.col-md-12
				img#allweb2.novis(src='img/downg.png')
				img#allweb(src='img/down.png')
				p все вебинары
div.container.speakers
	div.row
		div.col-md-12
			h2 Наши спикеры
			p.header Recent trands in the fields of translation tec
			div#carousel-example-generic.carousel.slide(data-ride="carousel")
				ol.carousel-indicators
					li.active(data-target="#carousel-example-generic" data-slide-to="0")
					li(data-target="#carousel-example-generic" data-slide-to="1")
					li(data-target="#carousel-example-generic" data-slide-to="2")
					li(data-target="#carousel-example-generic" data-slide-to="3")
					li(data-target="#carousel-example-generic" data-slide-to="4")
				div.carousel-inner(role="listbox")
					div.item.active
						div.col-md-4
							img(src='img/placeholder.png')
							p.name Mikle
							p.role CEO
							p.desc Recent trands in the fields of translation tec
						div.col-md-4
							img(src='img/placeholder.png')
							p.name Mikle
							p.role CEO
							p.desc Recent trands in the fields of translation tec
						div.col-md-4
							img(src='img/placeholder.png')
							p.name Mikle
							p.role CEO
							p.desc Recent trands in the fields of translation tec
					div.item
						div.col-md-4
							img(src='img/placeholder.png')
							p.name Mikle
							p.role CEO
							p.desc Recent trands in the fields of translation tec
						div.col-md-4
							img(src='img/placeholder.png')
							p.name Mikle
							p.role CEO
							p.desc Recent trands in the fields of translation tec
						div.col-md-4
							img(src='img/placeholder.png')
							p.name Mikle
							p.role CEO
							p.desc Recent trands in the fields of translation tec
					div.item
						div.col-md-4
							img(src='img/placeholder.png')
							p.name Mikle
							p.role CEO
							p.desc Recent trands in the fields of translation tec
						div.col-md-4
							img(src='img/placeholder.png')
							p.name Mikle
							p.role CEO
							p.desc Recent trands in the fields of translation tec
						div.col-md-4
							img(src='img/placeholder.png')
							p.name Mikle
							p.role CEO
							p.desc Recent trands in the fields of translation tec
					div.item
						div.col-md-4
							img(src='img/placeholder.png')
							p.name Mikle
							p.role CEO
							p.desc Recent trands in the fields of translation tec
						div.col-md-4
							img(src='img/placeholder.png')
							p.name Mikle
							p.role CEO
							p.desc Recent trands in the fields of translation tec
						div.col-md-4
							img(src='img/placeholder.png')
							p.name Mikle
							p.role CEO
							p.desc Recent trands in the fields of translation tec
					div.item
						div.col-md-4
							img(src='img/placeholder.png')
							p.name Mikle
							p.role CEO
							p.desc Recent trands in the fields of translation tec
						div.col-md-4
							img(src='img/placeholder.png')
							p.name Mikle
							p.role CEO
							p.desc Recent trands in the fields of translation tec
						div.col-md-4
							img(src='img/placeholder.png')
							p.name Mikle
							p.role CEO
							p.desc Recent trands in the fields of translation tec
div.botbg
	div.container
		div.row
			h2 Вам неудобны дата или время, но вы хотите принять участие?
			h3 Оставьте контактные данные, мы подберем Вам удобное расписание!
footer
	div.container
		div.row
			form.footer-form
				div.col-md-4
					div.form-group
						label(for="fname") Имя
						input#fname.form-control(type="text")
				div.col-md-4
					div.form-group
						label(for="fphone") Телефон
						input#fphone.form-control(type="tel")
				div.col-md-4
					div.form-group
						label(for="femail") E-mail
						input#femail.form-control(type="email" required="required")
					button(type='submit' class='btn btn-default') Отправить
